#articles-main{
    background: #d3a653af;
    color: rgb(169, 82, 19);
    display: flex;
    flex-direction: column;
    background-color: #d3a653af;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.article:hover{
    background: rgba(148, 43, 5, 0.359);
    color: #fffffff4;
}
#main-image{
    height: 150px;
    width: 150px;
    border-radius: 100rem;
    border: 2px solid rgb(169, 82, 19);
}
.item-text{
    padding: 1rem;
    width: 50vw;
}


#articles-main h2{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;

}

.custom-link {
    text-decoration: none;
    color: inherit;
  }
#filter {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(148, 43, 5, 0.359);

    height: 10vh;
}

h3 {
    font-size: 20px; 
    font-weight: bold; 
    margin: 10px 0; 
  }

  select {
    background-color: #f5f5f5; 
    border: 2px solid #ccc;   
    border-radius: 4px;       
    padding: 5px;             
  }

  select:hover,
select:focus {
  border-color:rgba(65, 18, 1, 0.359);
  box-shadow: 0 0 5px rgba(88, 58, 5, 0.5);
}

#filter p{
    font-size: 15px; 
    font-weight: bold;
    color: white; 
}

.pagination {
    height: 8vh; 
    padding: 10px; 
  background-color:rgba(148, 43, 5, 0.359);; 
  display: flex;
  justify-content: center;
  align-items: center;
}
#next {
    padding: 2px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
}

#previous {
    padding: 2px;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
}