

#comment-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D2B48C;
  border-radius: 10px;
  padding: 2em;
  text-align: center;
  margin: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#usernameLabel {
  margin: 0.5em;
  font-size: 18px;
  color: #8B4513;
  vertical-align: middle; 
}

#usernameInput {
  margin: 1em; 
  font-size: 18px;
  padding: 5px;
  border: 1px solid #8B4513;
  border-radius: 5px;
  vertical-align: middle; 
}

#comment {
  margin: 0.5em; 
  font-size: 18px;
  color: #A0522D;
  vertical-align: middle; 
}

#post-comment {
  margin: 1em; 
  font-size: 18px;
  padding: 5px;
  border: 1px solid #A0522D;
  border-radius: 5px;
  vertical-align: middle; 
}

#add-comment-button {
  margin: 2em;
  font-size: 20px;
  background-color: #8B4513;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  vertical-align: middle; 
}

#add-comment-button:hover {
  background-color: #A0522D;
}

#comment-poster h6 {
  font-size: 25px;
  color: #8B4513;
  vertical-align: middle; 
}
