.new-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

#article-comments{
    background: #d3a653af;
    color: rgb(169, 82, 19);
    display: flex;
    flex-direction: column;

}

#article-comments h3{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0; /* Adjust margin for better spacing around the title */
    line-height: 1.2; 

}

#article-comments h4{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem; 
    line-height: 1.5; 
    margin: 1em 0; 
}

#article-comments p {
        height: auto; 
        padding: 0.1rem;
        line-height: 1.5; 
        display: flex;
        justify-content: left;
        margin: 0.5em 0; 
    
}

#new-comment {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.new-comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid;

}

.new-comment:hover {
    background: rgba(148, 43, 5, 0.359);
    color: #fffffff4;
}

#article-comments h5{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    padding-bottom: 1rem;
    font-size: 3rem
}

#no-comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem
}

#buttons{
    height: auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px; 
    justify-content: center;
}

#upvote{
    background-color: rgb(193, 109, 20);
    padding: 1rem;
    margin: 1rem;
    border-radius: 75%;
    transition-duration: 0.4s;
    font-family: "Helvetica Neue", Arial, sans-serif;
   
}

#downvote{
background-color: rgb(193, 109, 20);
padding: 1rem;
margin: 1rem;
border-radius: 80%;
transition-duration: 0.4s;
font-family: "Helvetica Neue", Arial, sans-serif;
}

#downvote:hover{
    background-color: rgb(186, 138, 104);
    color: white;
    border: solid #d3a653af;

    
}
#upvote:hover{
    background-color: rgb(186, 138, 104);
    color: white;
    border: solid #d3a653af;
   
  
}

#vote-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 1rem
}

#image {
    justify-content: left;
    height: 50vh;
    width: auto;
    max-width: 40vw; 
    position: relative;
    top: -20vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: block;
    margin: auto;
    opacity: 0.9;
    filter: brightness(110%) contrast(110%) saturate(120%);
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
}

#image:hover {
    transform: scale(1.1);
}